<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="main">
        <nav>
            <a href="/login">Log in</a>
        </nav>
        <h3>Create User</h3>
        <form action="/register" method="post">
            <input type="text" placeholder="name" autocomplete="off"  name="name">
            <input type="text" placeholder="username" autocomplete="off"  name="username">
            <input type="password" placeholder="password" autocomplete="off"  name="password">
            <input type="email" placeholder="email" autocomplete="off"  name="email">
            <input type="number" placeholder="age" autocomplete="off"  name="age">
            <input id="submit" type="submit" value="Create">
        </form>
    </div>
    
</body>
</html>