<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="main">
        <nav>
            <a  href="/">
                create account
            </a>
        </nav>
        <h3>Login user</h3>
        <form action="/login" method="post">
            <input autocomplete="off" type="email" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <input id="submit" type="submit" value="login">
        </form>
    </div>
    
</body>
</html>